@import url("https://fonts.googleapis.com/css?family=Roboto:300");
/* html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #873572, black);
}
a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
} */

h1{
  
  font-weight: bolder;
  text-align: center;
  
}


.toggle-container {
  display: flex;
  width: 100%;
  justify-content: center;

}


.toggle-component {
  display: flex;
  background-color: rgb(225, 220, 220);
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  width:  700px;

}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: #0b0b0b;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  width: 500px;
  transition: background-color 0.3s ease;
}

.toggle-btn.active {
  background-color: black;
  color: white;
}

.toggle-btn:not(.active):hover {
  background-color: rgb(169, 166, 166);
  
}

.card {
  width: 250px;
  margin-top: 20px;
  margin-left: 100px;
  
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}



.card-details h3 {
  margin-top: 5px;
  font-size: 22px;
}

.price {
  margin-bottom: 16px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.discounted-price {
  font-weight: bold;
  color: #333;
  margin-right: 8px;
}

.discount {
  color: #e53935;
  font-weight: bold;
}

.add-to-cart {
  width: 100%;
  height: 40px; 
  background-color:black;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3;
  
}