@import url("https://fonts.googleapis.com/css?family=Roboto:300");
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1{
  
  font-weight: bolder;
  text-align: center;
  font-family: "Roboto",flex;
  font-size:45px;
}


.toggle-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}


.toggle-component {
  display: flex;
  background-color: rgb(225, 220, 220);
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  width:  700px;

}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: #0b0b0b;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  width: 500px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.space{
  width: 100%;
  height: 20px;
}
.toggle-btn.active {
  background-color: black;
  color: white;
  font-family: "Roboto",flex;
  font-size: 18px;
}

.toggle-btn:not(.active):hover {
  background-color: rgb(169, 166, 166);
  font-family: "Roboto",flex;
  font-size:18px;
}

.card {
  width: 270px;
  position: relative;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: 270px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.overlay-text {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", flex;
  padding: 2px;
  background-color: white;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 4px;
}

.card-details {
  padding: 13px;
}

.first{
  font-family: "Roboto",flex;
  font-weight: bolder;
  font-size: 17px;
  
}

.second{
  font-family: "Roboto",flex;
  margin-left: 10px;
  font-size: 13px;
}


.price {
  margin-top: 5px;
  margin-bottom: 16px;
  font-family: "Roboto",flex;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
  font-family: "Roboto",flex;
}

.discounted-price {
  font-weight: bold;
  color: #333;
  margin-right: 8px;
  font-family: "Roboto",flex;
}

.discount {
  color: #e53935;
  font-weight: bold;
}

.add-to-cart {
  width: 90%;
  height: 40px; 

  background-color:black;
  color: #fff;
  border: none;
  /* padding: 8px 16px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3;
  font-family: "Roboto",flex;
  position: absolute;
  margin-bottom: 5px;
  bottom:0;
  
}